:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #15345a;
  line-height: 1.5;
  font-weight: 400;
  --main-color: #15345a;
  --white: #fcfcfc;
  --secondary-color: #778eaf;
  --red: #991937;
  --text-color: #333333;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}
