.image {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}
.part {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .image {
    width: 100vw;
  }
  .part {
    background-color: rgba(225, 225, 225, 0.9);
    width: 80vw;
    max-width: 500px;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
  }
  .title {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .image {
    width: 40vw;
  }
  .part {
    width: 70vw;
  }
  .title {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .title {
    margin-top: 30px;
  }
}
